doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Instagram API
		link(rel='stylesheet', href='main.css')
	body
		h1 Instagram API
		div
			button.js-login(disabled) Log in
			| →
			button.js-getMyself(disabled) Get Myself
			| →
			button.js-getRecents(disabled) Get Recent Photos
		p
			| User =
			span.js-user
		h2 Recent Photos
		ol.recents.js-recents
		script#template-photo(type=text/x-template).
			<li class="recents-item">
				<a href="${link}"><img src="${src}" width=${width} height=${height} /></a>
			</li>
		script(src="gquery.all.js")
		script(src="creds.js")
		script(src="main.js")
		script.
			if (location.search === '?live') {
				var elScript = document.createElement('script');
				elScript.src = '//' + location.hostname + ':35729/livereload.js';
				document.body.appendChild(elScript);
			}
